{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": ["airbnb"],
  "rules": {
    "no-unused-vars": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
