*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
  font-size:15px;
  @include media("xl", "min") {
    font-size: 16px;
  }
  @include media("xxxl", "min") {
    font-size: 18px;
  }
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $neutral_bg;
  color: $secondary;
  margin:0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

  main {
    padding-top:56px;
    flex: 1;
    background: $neutral_bg;
    display: flex;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button, input, optgroup, select, textarea {
  border: 1px solid rgba($black, 0.3);
  padding: .375rem .75rem;
}
