.container {
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include make-container-max-widths();
  &--fluid {
    @extend .container;
    max-width: 100%;
  }
}
.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  @each $modifier , $breakpoint in $grid__breakpoints {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }
}
