// GRID VARIABLES
$grid__cols: 12;

$grid__breakpoints: (
  "": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1440px,
  "xxxl": 1920px
);

$container-max-widths: (
  "": 0,
  "sm": 540px,
  "md": 720px,
  "lg": 940px,
  "xl": 1140px,
  "xxl": 1140px,
  "xxxl": 1372px,
);

// COLOR VARIABLES
$black: #373737;
$blue: #64b5f6;
$brown: #a1887f;
$gray: #90a4ae;
$green: #81c784;
$pink: #f06292;
$purple: #ba68c8;
$red: #e57373;
$white: #e0e0e0;
$yellow: #fff176;
