.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 0;
  }
  @each $name, $color in $theme_colors {
    &.pokemon-#{$name} {
      &::before, .bar__amount {
        background: $color;
      }
      h1 {
        color: $color;
        @if $name == "dark" {
          text-shadow: 2px 2px 0px scale-color($color, $lightness: 60%);
        } @else {
          text-shadow: 2px 2px 0px scale-color($color, $lightness: -60%);
        }
      }
      .heading {
        > * {
          border-color: $color;
        }
      }
    }
  }
  > .row {
    align-items: flex-end;
    justify-content: center;
  }

  .pokemon__sidebar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .sidebar__wrapper {
      background:#fafafa;
      border-radius: 8px;
      padding:1.5rem;
      box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    }
  }
}
