.home {
  flex:1;
  > .row {
    height: 100%;
  }
  .home__background {
    display: none;
    @include media("lg", "min") {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding:1rem;
    }
    > * {
      background: $white;
      padding: 0 1rem;
      p {
        margin:0.5rem 0;
      }
    }
  }
  .home__search {
    display: flex;
    flex-direction: column;
    padding:0;
    > * {
      flex: 6;
      &.search__middle {
        flex: 1;
      }
    }
    .search__top {
      background: $primary;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 1rem;
      text-align: center;
    }
    .search__middle {
      background:$black;
      color: $black;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      form {
        .form__group{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 1rem;
          background: $white;
          border: 2rem solid $black;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;

          @include media("md", "min") {
            padding: 2rem;
            border-width: 2.5rem;
          }
        }
      }
    }
    .search__bottom {
      background: $neutral_bg;
      color: $secondary;
    }
  }
}
