.home {
  flex:1;
  > .row {
    height: 100%;
  }
  .home__background {
    display: none;
    @include media("lg", "min") {
      display: block;
    }
  }
  .home__search {
    display: flex;
    flex-direction: column;
    padding:0;
    > * {
      flex: 6;
      &.search__middle {
        flex: 1;
      }
    }
    .search__top {
      background: $primary;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
      text-align: center;
    }
    .search__middle {
      background:$black;
      color: $black;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      form {
        .form__group{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 2rem;
          background: $white;
          border: 2.5rem solid $black;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .search__bottom {
      background: $neutral_bg;
      color: $secondary;
    }
  }
}
