header {
  height:56px;
  background: $primary;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0 15px rgba($black, 0.3);
  .header__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  nav {
    ul {
      display: flex;
      justify-content: flex-start;
      padding:0;
      list-style-type: none;
      li {
        padding: 0 0.6rem;
        margin:0;
        @include media("md", "min") {
          padding: 0 1rem;
        }
        a {
          color: $white;
          text-transform: uppercase;
          margin:0;
        }
      }
    }
  }
}
