header {
  background: #7f0000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0 15px rgba($black, 0.3);
  nav {
    ul {
      display: flex;
      justify-content: flex-end;
      padding:0;
      list-style-type: none;
      li {
        padding: 0 1rem;
        a {
          color: $white;
          text-transform: uppercase;
        }
      }
    }
  }
}
