.pokemon__profile {
  align-self: center;

  .profile__wrapper {
    padding: 0 1rem;
  }

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 2.281rem;
  }
}
