.search__form {
  max-width: 100%;
  .form__group {
    display: flex;
    flex-wrap: wrap;
    input {
      position: relative;
      flex: 1 1 0%;
      min-width: 0;
      margin-bottom: 0;
    }
    button {
      color: $white;
      background: $black;
      border-color: $black;
    }
  }
}
